Importing the dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [11]:
#loading the dataset to a pandas dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [12]:
#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [13]:
#last 5 rows of the datset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [14]:
#datset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [15]:
#checking number of missing values in each column
#in presence of any missing values you have to assign them numbers, in this datset we don't have any missing values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [16]:
#checking distribution of the dataset
 #(0: legit transaction, 1: fraud)
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [17]:
#since our data is very unbalanced, we have to process it

#separating data for analysis

legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [18]:
#ststistical measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [20]:
#compare the values for both classes
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

UNDER SAMPLING

we will build a sample dataset containing similar distribution of normal and fraud transactions

In [21]:
legit_sample = legit.sample(n=492)

Concatenate two dataframes

In [22]:
new_dataset = pd.concat([legit_sample, fraud], axis =0)
#value should be added rowwise so we give axis = 0, for adding in column we would have given axis = 1
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
126272,77972.0,1.179358,-0.526142,0.979373,-0.679928,-1.351950,-0.586655,-0.772560,0.192636,2.083565,...,0.014816,0.232796,0.056967,0.372085,0.319484,-0.670700,0.098115,0.031099,1.00,0
35329,38071.0,-0.523331,-3.139373,0.008877,0.270999,-1.607346,0.881539,0.221967,0.223577,1.270468,...,0.743148,0.498817,-0.805259,-0.222363,0.085049,-0.465923,-0.046877,0.161194,841.27,0
127464,78339.0,-0.954685,0.473306,0.389421,-1.108163,3.113589,3.192089,0.114151,0.940822,-0.725586,...,-0.027045,-0.417213,-0.305220,0.972416,0.724680,-0.507697,0.028110,0.067428,2.49,0
152598,97417.0,-0.209216,0.257963,1.771439,-0.911485,-0.044699,0.050725,-0.181211,0.179263,1.642589,...,-0.039819,0.117550,-0.053123,-0.367074,-0.298622,0.352325,-0.078895,-0.056858,15.95,0
21845,31893.0,1.107838,0.144059,0.509766,1.329279,-0.217618,0.013476,-0.048596,0.132895,0.059220,...,-0.039987,0.072356,-0.046185,0.224645,0.596336,-0.341330,0.034690,0.007144,8.01,0

In [23]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [24]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96327.367886,0.038677,0.063454,-0.059265,-0.085066,0.056137,0.040039,-0.106815,-0.012133,0.029029,...,-0.014272,0.019965,0.023481,-0.028050,0.04572,-0.002658,0.022204,0.010038,-0.004093,75.876280
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

the mean values are not very different, so we can tell that the sample is kinda working the same

SPLITTING the datset into features and targets

In [25]:
X= new_dataset.drop(columns='Class', axis = 1)
Y = new_dataset['Class']

In [26]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
126272   77972.0  1.179358 -0.526142  0.979373 -0.679928 -1.351950 -0.586655
35329    38071.0 -0.523331 -3.139373  0.008877  0.270999 -1.607346  0.881539
127464   78339.0 -0.954685  0.473306  0.389421 -1.108163  3.113589  3.192089
152598   97417.0 -0.209216  0.257963  1.771439 -0.911485 -0.044699  0.050725
21845    31893.0  1.107838  0.144059  0.509766  1.329279 -0.217618  0.013476
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
126272 -0.772560  0.192636  2.083565  ... -0.290021  0.014816  0.232796
35329   0.221967  0.223577  1.270468  ...  1.501934  0.743148  0.498817
127464  0.114151  0.940822 -0.725586  ...  0.089398 -0.027045 -0.417213
152598 -0.181211  0.179263  1.642589  ... -0.123576 -0.039819  0.117550
21845  -0.048596  0.132895  0.059220  ... -0.204783 -0.039987  0.072356
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
126272  0.056967  0.372085  0.319484 -0.670700  0.098115  0.031099    1.00
35329  -0.805259 -0.222363  0.085049 -0.465923 -0.046877  0.161194  841.27
127464 -0.305220  0.972416  0.724680 -0.507697  0.028110  0.067428    2.49
152598 -0.053123 -0.367074 -0.298622  0.352325 -0.078895 -0.056858   15.95
21845  -0.046185  0.224645  0.596336 -0.341330  0.034690  0.007144    8.01
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [27]:
print(Y)

126272    0
35329     0
127464    0
152598    0
21845     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [28]:
#splitting the data into training data and testing data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.2, stratify=Y, random_state = 2)

In [30]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model training

(generally we us LR for binary classification)

Logistic Regression

In [33]:
model = LogisticRegression()

In [34]:
#training the LR model with training data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

In [36]:
X_train_predict = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_predict, Y_train)
print("Training data accuracy is : ", training_data_accuracy)

Training data accuracy is :  0.9237611181702668

In [37]:
 #accuracy on the test data
X_test_predict = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predict, Y_test)
print("Testing data accuracy is : ", test_data_accuracy)

Testing data accuracy is :  0.8984771573604061